 :root {
    --bs-body-bg: var(--bs-gray-100);
  }

/* Overwrite the the carousel.css body definition to remove the top padding 6.5rem when sticky-top is used */
body {
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

/* #myCarousel {
    margin-top: -105px;
} */