
.bg-footer-gray {
    background-color: var(--bs-gray-800);
}

.footer-row {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.footer-address {
    margin-top: 0.5rem;
    padding-top: 1rem;
}

.footer-line {
    color: #fff;
    margin: 0.5rem 0;
}

.footer-sub-text {
    font-size: 0.8rem;
    color: var(--bs-gray-300);
}

.social-banner {
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.social-icon {
    padding-right: 0.5rem;
    color: #fff;
}